cache/
artifacts/
exports/
deploy/

coverage*

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default
node_modules/
.env
tasks/
hardhat.config.ts
.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost
